
/* BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC BASIC*/

body {  
  background-color: #0D0D0D;
  font-family: Arial, Helvetica, sans-serif;
  color: #F5F5F7; /* Optional: Changes text color to white for better visibility */
  margin: 0;
}

.border-box {
  margin-left: 5%; /* Linker äußerer Abstand */
  margin-right: 5%; /* Rechter äußerer Abstand */
}

@media (max-width: 1024px) {

  .border-box {
    margin-left: 16px; /* Linker äußerer Abstand */
    margin-right: 16px; /* Rechter äußerer Abstand */
  }


}

/* NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR NAVBAR */

.navbar {
  display: flex; /* Enable Flexbox */
  justify-content: space-around; /* Distribute space between the items */
  align-items: center; /* Aligns the items vertically center */
  background-color: transparent; /* Light grey background */
  z-index: 9999; /* Places the navbar on top of other elements */
  position: sticky; /* Makes the navbar stick to the top of the page */
  top: 0; /* Places the navbar at the top of the page */
  background-color: #0d0d0de1; /* Background color of the navbar */
  -webkit-backdrop-filter: blur(8px); /* Adds a blur effect to the navbar */
  backdrop-filter: blur(8px); /* Adds a blur effect to the navbar */
}

.navbar img {
  width: 180px; /* Width of the logo */
}

.menu {
  list-style-type: none; /* Removes bullet points from the entire list */
}

.list-items a {
  text-decoration: none; /* Removes underline from links */
  color: #F5F5F7; /* Dark grey color for text */
  font-family: "Roboto", sans-serif;
  font-weight: 700; /* Bold font weight */
  font-size: 18px; /* Font size for menu items */
}

#navigation {
  height: 100px; /* Adjust height as needed */
  display: flex; /* Enable Flexbox */
  text-align: center; /* Aligns the text in the center */
  align-items: center; /* This aligns the child elements (ul) vertically center */
}

/* MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR MOBILE NAVBAR */

.mobile-nav {
  display: block; /* Display the mobile menu */
  position: fixed; /* Fix the menu to the viewport */
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  z-index: 98; /* Places the menu below the navbar */
  background-color: #0D0D0D; /* Background color of the menu */
  padding-top: 120px; /* Adjust padding as needed */
  top: -200vh; /* Start from above the viewport */
  left: 0; /* Align to the left */
  transition: top 0.4s ease-in-out; /* Add a transition on the 'top' property */
}

.mobile-nav.open {

  top: 0vh; /* Move to the top of the viewport when the 'open' class is added */
}

.mobile-nav.close {
  display: none; /* Hide the menu when the 'close' class is added */
}

.mobile-nav ul {
  list-style-type: none; /* Removes bullet points from the entire list */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
}

.mobile-nav a {
  display: block;
  margin: auto; /* This will center the a tags */
  text-align: center; /* Aligns the text in the center */
  padding: 12px 16px; /* Adjust padding as needed */
  text-decoration: none; /* Removes underline from links */
  color: #F5F5F7; /* Dark grey color for text */
  font-family: "Roboto", sans-serif; /* Font family for the menu items */
  font-weight: 700; /* Bold font weight */
  font-size: 18px; /* Font size for menu items */
  padding: 20px;  /* Adjust padding as necessary, but keep it symmetrical */
}

.hamburger-menu {
  background-color: transparent; /* Transparent background */
  border: none; /* Removes default border */
  cursor: pointer; /* Changes cursor to pointer */
  display: flex; /* Enable Flexbox */
  padding: 0; /* Removes default padding */
}

.line {
  fill: none; /* Removes fill color */
  stroke: #F5F5F7; /* White stroke color */
  stroke-width: 6; /* Stroke width */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1); /* Add a transition effect */
}
.line1 {
  stroke-dasharray: 60 207; /* Stroke dash array */
  stroke-width: 6; /* Stroke width */
}
.line2 {
  stroke-dasharray: 60 60; 
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* Media query for desktop screens */
@media (min-width: 1024px) {
  .hamburger-menu {
      display: none; /* Hide the hamburger menu on desktop */
  }
}

@media (max-width: 1024px) {

  .hamburger-menu {
      margin-top: 5px; /* Adjust margin as needed */
      display :inline-block; /*or inline works as well*/
      position : absolute; /* Position the hamburger menu */
      right : 0; /* Align the menu to the right */
  }

  .hamburger-menu svg {
    width: 60px; /* Width of the hamburger menu */
    height: 60px; /* Height of the hamburger menu */
    margin-right: 20px; /* Adjust margin as needed */
  }

  .logo { 
    padding: 20px 20px 10px 20px; /* Adjust padding as needed */
    display : flex; /* Enable Flexbox */
    align-items: center; /* Aligns the items vertically center */
    justify-content : center; /* Aligns the items horizontally center */
  }

  .logo img {
      width: 130px; /* Width of the logo */
  }

  #navigation {
    display: none; /* Hide the navigation menu on desktop */
  }
}
/* SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS SECTIONS */

section {
  margin: 100px 0; /* Oberer und unterer äußerer Abstand */
}


.title {
  display: flex; /* Enable Flexbox */
  margin-top: 50px; /* Oberer äußerer Abstand */
}

h1 {
  font-size: 50pt; /* Font size for the title */
  font-family: "Roboto", sans-serif; /* Font family for the title */
  font-weight: 700; /* Bold font weight */
  margin: 0; /* Removes default margin */
  white-space: nowrap; /* Prevents wrapping on larger screens */
}

h2 {
  font-size: 30pt; /* Font size for the title */
  font-family: "Roboto", sans-serif; /* Font family for the title */
  font-weight: 700; /* Bold font weight */
  margin: 0 0 20px 0; /* Removes default margin */
}

h3 {
  font-size: 14pt; /* Font size for the title */
  font-family: "Roboto", sans-serif; /* Font family for the title */
  font-weight: 700; /* Bold font weight */
  margin: 0; /* Removes default margin */
}

p {
  font-size: 14pt; /* Font size for the text */
  font-family: Arial, Helvetica, sans-serif; /* Font family for the text */
  font-weight: 400; /* Normal font weight */
  margin: 0; /* Removes default margin */
}

.highlight {
  color: #2DCB74; /* Green color for the text */
}

#white {
  color: #F5F5F7; /* White color for the text */
}

#green {
  color: #2DCB74; /* Green color for the text */
}

.intro {
  display: flex; /* Enable Flexbox */
  margin-top: 20px; /* Oberer äußerer Abstand */
}

#parkraum {
  margin-top: 50px; /* Oberer äußerer Abstand */
}

.flex-item {
  flex: 0 0 50%; /* Flexbox item width */
  padding-right: 30px; /* Rechter innerer Abstand */
}

.flex-item img {
  max-width: 100%; /* Max width for images */
  height: auto; /* Auto height for images */
  border-radius: 15px; /* Rundet die Ecken ab */
}

@media (max-width: 1024px) {

  .title, .intro {
    flex-direction: column;
  }

  #reverse {
    flex-direction: column-reverse;
  }

  h1 {
    font-size: 40pt; /* Adjust font size as needed */
    white-space: normal; /* Allows wrapping at the soft hyphen */
    text-align: center; /* Aligns the text in the center */

  }

  h2 {
    font-size: 20pt; /* Adjust font size as needed */
    text-align: center; /* Aligns the text in the center */
  }

  h3 {
    font-size: 14pt; /* Font size for the title */
    font-family: "Roboto", sans-serif; /* Font family for the title */
    font-weight: 700; /* Bold font weight */
    margin: 0; /* Removes default margin */
    text-align: center; /* Aligns the text in the center */
  }

  .flex-item {
    flex: 0 0 100%; /* Flexbox item width */
    padding-right: 0; /* Rechter innerer Abstand */
  }

  .flex-item img {
    margin-bottom: 15px; /* Removes border radius */
  }
}
#gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  font-family: Lato, sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
  background: #222;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}


/* DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN DROPDOWN */

.dropdown-div {
  display: none;
  }

#dropdown-title {
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 20px;
  color: black;
  margin-bottom: 10px;
}

#dropdown {
  background-color: #F5F5F7; /* Hintergrundfarbe */
  border-radius: 5px; /* Rundet die Ecken ab */
  width: 100%; /* Breite des Dropdowns */
  margin-top: 20px;
  padding-top: 20px;
}

#standort-button {
  background-color: #F5F5F7;
  display: flex;
  justify-content: center; /* aligns items horizontally in the center */
  align-items: center; /* aligns items vertically in the center */
  gap: 10px; /* adds some space between the text and the SVG */
  border-radius: 5px;
  border: none; /* Add this line to remove any default borders */
  outline: none; /* Removes focus outline */
  box-shadow: none; /* Ensures no shadows are applied */
  top: -200vh; /* Start from above the viewport */
  left: 0;
  transition: top 5s ease-in-out; /* Add a transition on the 'top' property */
  padding: 10px; /* Adjust padding as needed */
}

#standort-button.open {
  top: 0vh; /* Move to the top of the viewport when the 'open' class is added */
}

#standort-button.close {
  display: none; /* Hide the menu when the 'close' class is added */
}

.svg-dropdown {
  width: 30px; /* Width of the SVG */
  height: 30px; /* Height of the SVG */
  stroke: #2DCB74; /* Green stroke color */
  transition: transform 0.3s ease; /* Add a transition effect */
}

#button-text {
  font-family: "Roboto", sans-serif; /* Font family for the text */
  font-weight: 700; /* Bold font weight */
  font-size: 18px; /* Font size for the text */
}

.dateSelectors input {
  padding: 10px;
  border-radius: 30px;
}

.loop-check-div {
  width: 200px; /* Breite des Dropdowns */
  height: auto; /* Höhe des Dropdowns */
  margin: 5px 0 0 5px; /* Abstand zum Text */
  padding-left: 20px; /* Abstand zum Text */
  color: #0D0D0D; /* Text color */
  font-family: "Roboto", sans-serif; /* Font family for the text */
  font-weight: 700; /* Bold font weight */
  font-size: 13pt; /* Font size for the text */
}

.loop-box {
  height: 300px; /* Höhe des Dropdowns */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Aligns the items vertically */
  flex-wrap: wrap; /* Wraps the items */
  align-content: space-between; /* Distributes space between the items */
  padding: 20px 0; /* Adds padding */
}

#standort {
  width: 15px; /* Width of the SVG */
  height: 15px; /* Height of the SVG */
  background-color: #F5F5F7; /* Light grey background */
  border-radius: 50%; /* Rounds the corners */
  transform: scale(1); /* Scales the SVG */
}

/* DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER DATEPICKER */

.selector {
  display: flex; /* Enable Flexbox */
  width: 100%; /* Adjust width as needed */
}

@media screen and (max-width: 1024px){
  
  
}

.datepicker {
  background-color: #2DCB74; /* Hintergrundfarbe */
  width: auto; /* Adjust width as needed */
  color: #F5F5F7; /* Text color */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px;

}

.slider-div {
  width: 300px; /* Adjust width as needed */
  display: flex; /* Enable Flexbox */
  flex-direction: column;
  justify-content: end;
  align-items: center; /* Aligns the items vertically center */
  margin-left: auto; /* Aligns the slider to the right */
  margin-right: 20px; /* Adjust margin as needed */
}

.slider {
  width: 100%; /* Adjust width as needed */
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #F5F5F7;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2DCB74;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2DCB74;
  cursor: pointer;
}

#slider-number {
  font-family: "Roboto", sans-serif; /* Font family for the text */
  font-weight: 700; /* Bold font weight */
  font-size: 14pt; /* Font size for the text */
  color: #F5F5F7; /* Text color */
  margin: 0 0 10px 0; /* Adjust margin as needed */
}

@media (max-width: 1024px) {

  .loop-box {
    height: 700px; /* HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER HIER FEHLER */
  }

  #dropdown {
    height:750px;
  }

  .selector {
    flex-direction: column; /* Aligns the items vertically */
    align-items: center; /* Aligns the items vertically center */
  }

  .slider-div {
    width: 80vw;
    margin: 20px 0 15px 0;
  }

  .selector {
    flex-direction: column;
    justify-content: center;

  }

  #standort-button {
    width: 80vw;
    padding: 10px;
  }

  .dateSelectors input {
    width: 36vw;
    padding: 10px;
    flex-direction: row;
  }
}

input[type="date"] {
  background-color: #F5F5F7;
  font-size: 14pt; /* Font size for the title */
  font-family: "Roboto", sans-serif; /* Font family for the title */
  font-weight: 700; /* Bold font weight */
  margin: 0; /* Removes default margin */
  color: #0D0D0D;
  outline: none;
  border-radius: 5px;
}

/* MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE MARQUEE */

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 100vw; /* Setzt die Breite auf die volle Breite des Viewports */
  margin-left: calc(-50vw + 50%); /* Zentriert das Element */
  margin-right: calc(-50vw + 50%);
  background-color: #2DCB74;
  padding: 20px 0;
  box-shadow: 10px 10px 20px #f5f5f758;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 100s linear infinite; /* Applying the scroll animation */
}

.marquee-title {
  font-size: 50pt; /* Font size for the title */
  font-family: "Roboto", sans-serif; /* Font family for the title */
  font-weight: 700; /* Bold font weight */
  margin: 0; /* Removes default margin */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap))); /* Ensure the gap is considered in the calculation */
  }
}

@media (max-width: 1024px) {

  h1 {
    font-size: 30pt; /* Adjust font size as needed */
  }
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.footer {
  border-top: 2.5px solid #F5F5F7; /* sets a white border at the top */
  color: #2DCB74;  /* Green color for the text */
  margin-top: 100px; /* Oberer äußerer Abstand */
  padding: 70px 0; /* Adds padding */
  text-align: center; /* Aligns the text in the center */
  font-family: "Roboto", sans-serif; /* Font family for the text */
  font-weight: 700; /* Bold font weight */
  font-size: 13pt; /* Font size for the text */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social {
  width: 40px; /* Width of the SVG */
  height: 40px; /* Height of the SVG */
  fill: #2DCB74; /* Green fill color */
  display: block;
  margin: 10px 30px;
}

.social-div {
  display: flex;
  justify-content: center;
}

.rotating-text {
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 36px;
  color: white;
  transform: translateX(-80px);

  p {
    display: inline-flex;
    margin: 0;
    vertical-align: top;

    .word {
      position: absolute;
      display: flex;
      opacity: 0;

      .letter {
        transform-origin: center center 25px;

        &.out {
          transform: rotateX(90deg);
          transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
        }
        &.in {
          transition: 0.38s ease;
        }
        &.behind {
          transform: rotateX(-90deg);
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  .word {
    font-size: 10pt;
    text-align: center;
  }

  .word-title {
    font-size: 10pt;
  }

/* palette: https://flatuicolors.com/palette/defo */
.alizarin {
  color: #F5F5F7;
}

.wisteria {
  color: #8e44ad;
}

.peter-river {
  color: #3498db;
}

.emerald {
  color: #2ecc71;
}

.sun-flower {
  color: #f1c40f;
}
}

/* CHART CHART CHART CHART HART CHART CHART CHART HART CHART CHART CHART HART CHART CHART CHART */

#map { height: 500px; }

.dotMap {
  margin: 50px 0;
}

#lineChart {
  width: 80vw;
}